#toast {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

#toast-icon {
    margin-right: .5rem !important;
}

#toast-title {
    margin: 0 !important;
}